@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.arrow {
    font-size: 10px;
    transition: transform 0.3s ease;
}

/* rotate khi hover */
.has-dropdown:hover .arrow {
    transform: rotate(180deg);
}