USE [master]
GO
/****** Object:  Database [Web_ban_ve]    Script Date: 25/05/2026 4:13:47 CH ******/
CREATE DATABASE [Web_ban_ve]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web_ban_ve', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Web_ban_ve.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Web_ban_ve_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Web_ban_ve_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web_ban_ve].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web_ban_ve]
GO
/****** Object:  Table [dbo].[Danh_gia_phim]    Script Date: 25/05/2026 4:13:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_gia_phim](
	[MADG] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[MaPhim] [int] NOT NULL,
	[SoSao] [int] NOT NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayDanhGia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gop_y]    Script Date: 25/05/2026 4:13:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gop_y](
	[MAGY] [int] IDENTITY(1,1) NOT NULL,
	[Hovaten] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Sodt] [varchar](20) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayGui] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khach_hang]    Script Date: 25/05/2026 4:13:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khach_hang](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[MaVaiTro] [int] NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[Hovaten] [nvarchar](50) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[Ngaysinh] [date] NOT NULL,
	[DiemTichLuy] [int] NULL,
	[PasswordHash] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NULL,
	[IsBanned] [bit] NULL,
	[LyDoBan] [nvarchar](255) NULL,
	[SoDu] [decimal](18, 2) NULL,
 CONSTRAINT [PK__Khach_ha__603F592C57F58808] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lich_su_giao_dich]    Script Date: 25/05/2026 4:13:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lich_su_giao_dich](
	[MAGD] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[TenPhim] [nvarchar](255) NOT NULL,
	[SoLuongVe] [int] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[NgayGiaoDich] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phan_Quyen]    Script Date: 25/05/2026 4:13:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phan_Quyen](
	[MAKH] [int] NOT NULL,
	[MaVaiTro] [int] NOT NULL,
	[NgayCapQuyen] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vai_Tro]    Script Date: 25/05/2026 4:13:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vai_Tro](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Danh_gia_phim] ON 

INSERT [dbo].[Danh_gia_phim] ([MADG], [MAKH], [MaPhim], [SoSao], [BinhLuan], [NgayDanhGia]) VALUES (1, 4, 2, 5, N'hay', CAST(N'2026-05-22T16:37:53.560' AS DateTime))
INSERT [dbo].[Danh_gia_phim] ([MADG], [MAKH], [MaPhim], [SoSao], [BinhLuan], [NgayDanhGia]) VALUES (2, 4, 2, 3, N'cũng được', CAST(N'2026-05-22T16:39:23.940' AS DateTime))
INSERT [dbo].[Danh_gia_phim] ([MADG], [MAKH], [MaPhim], [SoSao], [BinhLuan], [NgayDanhGia]) VALUES (3, 1, 1, 1, N'phim như cc', CAST(N'2026-05-24T20:33:28.333' AS DateTime))
SET IDENTITY_INSERT [dbo].[Danh_gia_phim] OFF
GO
SET IDENTITY_INSERT [dbo].[Gop_y] ON 

INSERT [dbo].[Gop_y] ([MAGY], [Hovaten], [Email], [Sodt], [NoiDung], [NgayGui]) VALUES (1, N'Trung Hiếu', N'trunghieu@gmail.com', N'0918313221', N'Ok 123', CAST(N'2026-05-25T16:09:16.837' AS DateTime))
SET IDENTITY_INSERT [dbo].[Gop_y] OFF
GO
SET IDENTITY_INSERT [dbo].[Khach_hang] ON 

INSERT [dbo].[Khach_hang] ([MAKH], [MaVaiTro], [Avatar], [Hovaten], [SDT], [Email], [GioiTinh], [Ngaysinh], [DiemTichLuy], [PasswordHash], [IsDeleted], [IsBanned], [LyDoBan], [SoDu]) VALUES (1, 1, N'avatar_1.jpg', N'Hậu Gầy', N'0901234567', N'test@gmail.com', N'Nam', CAST(N'2000-01-01' AS Date), 0, N'123456', 0, 0, NULL, CAST(200000.00 AS Decimal(18, 2)))
INSERT [dbo].[Khach_hang] ([MAKH], [MaVaiTro], [Avatar], [Hovaten], [SDT], [Email], [GioiTinh], [Ngaysinh], [DiemTichLuy], [PasswordHash], [IsDeleted], [IsBanned], [LyDoBan], [SoDu]) VALUES (4, 2, NULL, N'Nguyễn Hiếu', N'', N'hieu123@gmail.com', N'Nam', CAST(N'1998-12-24' AS Date), 0, N'hieu1234', 0, 0, NULL, CAST(445000.00 AS Decimal(18, 2)))
INSERT [dbo].[Khach_hang] ([MAKH], [MaVaiTro], [Avatar], [Hovaten], [SDT], [Email], [GioiTinh], [Ngaysinh], [DiemTichLuy], [PasswordHash], [IsDeleted], [IsBanned], [LyDoBan], [SoDu]) VALUES (5, 3, N'default-avatar.png', N'Nguyễn Trung Hiếu', N'0987123521', N'trunghieu@gmail.com', N'Nam', CAST(N'2007-01-25' AS Date), 0, N'123456', 0, 0, NULL, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Khach_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[Lich_su_giao_dich] ON 

INSERT [dbo].[Lich_su_giao_dich] ([MAGD], [MAKH], [TenPhim], [SoLuongVe], [TongTien], [NgayGiaoDich], [TrangThai]) VALUES (1, 4, N'Avengers: Endgame', 2, CAST(95000.00 AS Decimal(18, 2)), CAST(N'2026-05-22T15:14:50.780' AS DateTime), N'Thành công')
INSERT [dbo].[Lich_su_giao_dich] ([MAGD], [MAKH], [TenPhim], [SoLuongVe], [TongTien], [NgayGiaoDich], [TrangThai]) VALUES (2, 4, N'Avengers: Endgame', 2, CAST(95000.00 AS Decimal(18, 2)), CAST(N'2026-05-22T15:17:50.420' AS DateTime), N'Thành công')
INSERT [dbo].[Lich_su_giao_dich] ([MAGD], [MAKH], [TenPhim], [SoLuongVe], [TongTien], [NgayGiaoDich], [TrangThai]) VALUES (3, 4, N'Avengers: Endgame', 2, CAST(95000.00 AS Decimal(18, 2)), CAST(N'2026-05-22T15:20:25.330' AS DateTime), N'Thành công')
SET IDENTITY_INSERT [dbo].[Lich_su_giao_dich] OFF
GO
INSERT [dbo].[Phan_Quyen] ([MAKH], [MaVaiTro], [NgayCapQuyen]) VALUES (6, 4, CAST(N'2026-05-25T16:03:10.597' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Vai_Tro] ON 

INSERT [dbo].[Vai_Tro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (1, N'Quản trị viên', N'Toàn quyền truy cập')
INSERT [dbo].[Vai_Tro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (2, N'Nhân viên bán hàng', N'Thêm, xoá, sửa sản phẩm')
INSERT [dbo].[Vai_Tro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (3, N'Khách hàng', N'Người dùng bình thường')
SET IDENTITY_INSERT [dbo].[Vai_Tro] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Khach_ha__A9D105346F3784F2]    Script Date: 25/05/2026 4:13:47 CH ******/
ALTER TABLE [dbo].[Khach_hang] ADD  CONSTRAINT [UQ__Khach_ha__A9D105346F3784F2] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Khach_ha__CA1930A5D9EA8138]    Script Date: 25/05/2026 4:13:47 CH ******/
ALTER TABLE [dbo].[Khach_hang] ADD  CONSTRAINT [UQ__Khach_ha__CA1930A5D9EA8138] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Danh_gia_phim] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[Gop_y] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[Khach_hang] ADD  CONSTRAINT [DF__Khach_han__MaVai__34C8D9D1]  DEFAULT ((3)) FOR [MaVaiTro]
GO
ALTER TABLE [dbo].[Khach_hang] ADD  CONSTRAINT [DF__Khach_han__Avata__6E01572D]  DEFAULT ('default-avatar.png') FOR [Avatar]
GO
ALTER TABLE [dbo].[Khach_hang] ADD  CONSTRAINT [DF__Khach_han__DiemT__145C0A3F]  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[Khach_hang] ADD  CONSTRAINT [DF__Khach_han__IsDel__15502E78]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Khach_hang] ADD  CONSTRAINT [DF_IsBan]  DEFAULT ((0)) FOR [IsBanned]
GO
ALTER TABLE [dbo].[Khach_hang] ADD  CONSTRAINT [DF__Khach_hang__SoDu__1B0907CE]  DEFAULT ((0)) FOR [SoDu]
GO
ALTER TABLE [dbo].[Lich_su_giao_dich] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[Lich_su_giao_dich] ADD  DEFAULT (N'Thành công') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Phan_Quyen] ADD  DEFAULT (getdate()) FOR [NgayCapQuyen]
GO
ALTER TABLE [dbo].[Danh_gia_phim]  WITH CHECK ADD  CONSTRAINT [FK__Danh_gia_p__MAKH__5BE2A6F2] FOREIGN KEY([MAKH])
REFERENCES [dbo].[Khach_hang] ([MAKH])
GO
ALTER TABLE [dbo].[Danh_gia_phim] CHECK CONSTRAINT [FK__Danh_gia_p__MAKH__5BE2A6F2]
GO
ALTER TABLE [dbo].[Khach_hang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_VaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[Vai_Tro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[Khach_hang] CHECK CONSTRAINT [FK_KhachHang_VaiTro]
GO
ALTER TABLE [dbo].[Lich_su_giao_dich]  WITH CHECK ADD  CONSTRAINT [FK__Lich_su_gi__MAKH__4BAC3F29] FOREIGN KEY([MAKH])
REFERENCES [dbo].[Khach_hang] ([MAKH])
GO
ALTER TABLE [dbo].[Lich_su_giao_dich] CHECK CONSTRAINT [FK__Lich_su_gi__MAKH__4BAC3F29]
GO
ALTER TABLE [dbo].[Phan_Quyen]  WITH CHECK ADD FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[Vai_Tro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[Phan_Quyen]  WITH CHECK ADD  CONSTRAINT [FK__Phan_Quyen__MAKH__182C9B23] FOREIGN KEY([MAKH])
REFERENCES [dbo].[Khach_hang] ([MAKH])
GO
ALTER TABLE [dbo].[Phan_Quyen] CHECK CONSTRAINT [FK__Phan_Quyen__MAKH__182C9B23]
GO
ALTER TABLE [dbo].[Danh_gia_phim]  WITH CHECK ADD CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
USE [master]
GO
